*{margin: 0}

a{
	text-decoration: none;
	color: #eeeeee;
}

body{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}



#header_container{



}


#header{
	width: 100%;
	position: fixed;
	z-index: 1000;
	/*padding-left: 15px;
	padding-right: 15px;*/
	height: 10vh;
	background-color: #013f22;
	display: grid;
	grid-template-columns: auto auto auto;
/*	display: flex;*/
/*	flex-direction: row;*/
	justify-content: space-around;
	align-items: center;
	align-self: center;
	background-color: #000000f0;
}


#profile{
	display: grid;
	grid-template-columns: 500px;
	justify-content: center;
}

#cart{
	width: 50px;
	height: 50px;
	display: flex;
/*	justify-content: center;*/
/*	border-radius: 50px;*/
	
}


#cart #cart_image{
	width: 50px;
	height: 50px;
	background-image: url('../media/images/cart.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 50px 50px;
}


#cart #cart_amount{
	min-width: 30px;
	width: fit-content;
	min-height: 30px;
	
/*	margin: auto;*/
	color: #000;
	background-color: #fff;
	border-radius: 50px;
	align-self: end;
	text-align: center;
	vertical-align: middle;
	position: absolute;

	}



#cart_blank:hover {
	visibility:  visible;
	opacity: 100%;
	transition: .5s;

}



#cart_blank{
	max-width: 500px;
	min-width: 500px;
	height: 600px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;	
	margin-top: 74px;
	position: absolute;
	background-color: #fff;
	box-shadow: .1px .1px 10px ;
	opacity: 0%;
	visibility: hidden;
	text-align: center;
	align-items: center;
	transition: .5s;
	font-size: 20px;
	font-family: "Arial";
}

#cart_list{
	display: grid;
	max-width: 500px;
	min-width: 500px;
	height: 500px;
	overflow-y: auto;
	/*margin-top: 30px;
	margin-bottom: 50px;*/
	grid-gap:1%;
}

#cart_blank #cart_blank_header{
	display: grid;
	grid-template-columns: 300px 100px 100px;
	background-color: #0f0f0f;
	color: #eeeeee;
	text-align: center;
	align-items: center;
	height: 100%;

	

}

#cart_blank{
	display: grid;
	grid-template-columns: auto;

}


#cart_list .cart_item{
	display: grid;
	grid-template-columns: 100px 200px 100px 100px;
	background-color: #f4f4f4;


}

#cart_blank #cart_blank_footer{
	width: 500px;
	height: 100%;
	text-align: right;
	align-items: center;
	background-color: #eaeaea;
	display: grid;
	grid-template-columns: 400px 100px;

}


#cart_blank #cart_blank_footer #total_sum{
	text-align: center;
}

#cart_list img{
	width: 100px;
	height: 100px;
}

#cart:hover ~ #cart_blank{
	visibility: visible;
	opacity: 100%;
	transition: .5s;
}



#nav_bar{
	width: 50vw;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	color: #eeeeee;
}

#nav_bar a{
	margin-right: 15px;
	font-size: 30px;
	font-family: 'Arial';
	transition: .5s;
}

#nav_bar a:hover{
	font-size: 30px;
	font-family: 'Arial';
	background-color: #B71A1A;
	border-radius: 15px;
	padding: 10px;
	transition: .5s;
}

#logo{
	width: 110px;
	height: 60px;
	background-image: url('../media/images/logo.png');
	background-position: center;
	background-size: cover;
	border-radius: 50px;
}



#search_bar{
	width: 30vw;
	display: flex;

}

.search_field{
	width: 500px;
	height: 50px;
	border:none;
	outline: none;
	border-bottom-left-radius: 50px;
	border-top-left-radius: 50px ;
	text-align: center;
	font-size: 30px;
	background-color: #00000011;
	transition: .3s;
}

.search_field:hover{
	background-color: #00000020;
	
	transition: .3s;

}


.intro_1{
	margin-top: 10vh;
	width: 50%;
	height:120vh;
	background-image: url("../media/images/intro_1.png");
	background-repeat: no-repeat;
	background-size: 99%;
	background-position: center;
	transition: .5s;
}



.intro_2{
	margin-top: 10vh;
	width: 50%;
	height:120vh;
	background-image: url("../media/images/intro_2.png");
	background-repeat: no-repeat;
	background-size: 99%;
	background-position: center;
	transition: .5s;
}

.intro_1:hover{
	background-color: #00000011;
	transition: .5s;
}

.intro_2:hover{
	background-color: #00000011;
		transition: .5s;
}
#intro{
display: flex;
justify-content: space-between;
	background-color: #00000011;
}

/*#intro_3{

	margin-top: 10vh;
	width: 100%;
	height:120vh;
	background-image: url("../media/images/intro_3.png");

	background-repeat: no-repeat;
	background-size: 50%;
	background-position: center;
	transition: .5s;

}*/



#content #search_bar .search_button{
	width: 70px;
	height: 52px;
	background-image: url("../media/images/search-50.png");
	background-position: center;
	background-repeat: no-repeat;
	border:none;
	outline: none;
	border-bottom-right-radius: 50px;
	border-top-right-radius: 50px ;
	float: right;
	transition: .5s;

}

#content #search_bar .search_button:hover{
	background-color: #b71a1a;
	transition: .5s;
}

#container{

	height: 100%;
	margin-top: 10vh;
/*	min-height: 90fr;*/
	position: relative;
	display: flex;
	justify-content: space-between;
}	

#products{
	width: 75vw;
	max-width: 75vw;
	min-width: 75vw;
	font-size: 40px;
	display: grid;
	grid-template-columns: auto auto auto auto;
	justify-content: space-evenly;	
}

#content #tools_bar{
	display: flex;
	height: 10vh;
	justify-content: center;
	margin-bottom: 10px;
	background-color: #f4f4f4;
	align-items: center;

}


#product_card{
	height: 500px;
	display: flex;
	flex-direction: column;
	padding: 20px;
transition: .1s;

}

#product_card:hover{
	background-color: #00000020;
	transition: .3s;

}

#product_card a{
	color: #000;
}

#product_card a:hover{
	color: #00ff00;
}

#buy_section{
	width: 300px;
}

#buy_section #buy_button{
	border: none;
	font-size: 28px;
	min-width: 220px;
	width: 220px;
	height: 50px;
	border-radius: 10px;
	background-color: #000;
	color: #ccc;
}

#buy_section #buy_button:hover{
	background-color: #CF8702;
	color: #ccc;
}

#buy_section #amount_counter{

	font-size: 30px;
	height: 40px;
	min-width: 50px;
	width: 50px;
		
	/*min-width: 40px;
	width: 40px;*/

}

#product_image{
	width: 300px;
	height: 300px;
	transition: .5s;
}

#product_card a #product_image:hover{
	width: 350px;
	height: 350px;
	transition: .5s;
	
}

#product_title{
	font-size: 30px;
}

#price{
	color: red;
	font-size: 50px;
}

#left_bar{
	
	flex-direction: column;
	width: 15vw;
	max-width: 15vw;
	min-width: 15vw;
	min-height: 85vh;
	background-color: #6D676E13;
	align-items: center;
	justify-content: space-between;
	display: flex;
/*	padding: 20px;*/

}

#left_bar #categories{
	width: 100%;
}

#left_bar #categories .category_items{
	margin-left: 20px;
}


#left_bar #categories #title{
	font-size: 30px;
	text-align: center;
	background-color: #6D676E13;
}

#left_bar #categories input{
	margin-top: 10px;
	margin-right: 10px;
}

#right_bar{
	
	min-width: 10vw;
	max-width: 10vw;

	min-height: 85vh;


	background-color: #f4f4f4;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#footer{
	display: flex;
	width: 100%;
	min-width:100% ;
	height: 5vh;
	background-color: #dadada;
	align-items: center;
	justify-content: center;	
	bottom: 0;
	
}